<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube to MP3 Converter</title>
</head>
<body>
    <h1>YouTube to MP3 Converter</h1>
    <form action="/convert" method="post">
        <label for="youtube_links">Paste YouTube links (one per line):</label><br>
        <textarea name="youtube_links" id="youtube_links" rows="10" cols="50"></textarea><br><br>
        <input type="submit" value="Convert">
    </form>
</body>
</html>
